{% extends 'police_station/header_footer.html' %}
{% load static %}

{% block content %}
			
			<!-- 
			=============================================
				Theme Inner Banner
			============================================== 
			-->
			<div class="feature-banner section-spacing">
				<div class="opacity">
					<div class="container">
						<h2>MOST WANTED CRIMINALS</h2>
						<a href="{% url 'view_criminals' %}" class="theme-button-one">view</a>
					</div> <!-- /.container -->
				</div> <!-- /.opacity -->
			</div> <!-- /.feature-banner -->


			<!-- 
			=============================================
				Our Case
			============================================== 
			-->
			<div class="our-case our-project section-spacing">
				<div class="container">
					<div class="wrapper">
						<div class="row">
							<div class="col-lg-4 col-sm-6 col-12">
								<div class="single-case-block">
									<img src="{% static 'charles/images/portfolio/enq_3.png' %}" alt="">
									<div class="hover-content">
										<div class="text clearfix">
											<div class="float-left">
												<h5><a href="{% url 'view_enquiry' %}">View Enquiry</a></h5>
												<p>View enquiry from the public</p>
											</div>
											<a href="{% url 'view_enquiry' %}" class="details float-right"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
										</div> <!-- /.text -->
									</div> <!-- /.hover-content -->
								</div> <!-- /.single-case-block -->
							</div> <!-- /.col- -->

							<div class="col-lg-4 col-sm-6 col-12">
								<div class="single-case-block">
									<img src="{% static 'charles/images/portfolio/pet_2.png' %}" alt="">
									<div class="hover-content">
										<div class="text clearfix">
											<div class="float-left">
												<h5><a href="../view_petition/">View Petition</a></h5>
												<p>View Petition</p>
											</div>
											<a href="../view_petition/" class="details float-right"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
										</div> <!-- /.text -->
									</div> <!-- /.hover-content -->
								</div> <!-- /.single-case-block -->
							</div> <!-- /.col- -->

							<div class="col-lg-4 col-sm-6 col-12">
								<div class="single-case-block">
									<img src="{% static 'charles/images/portfolio/fir_1.png' %}" alt="">
									<div class="hover-content">
										<div class="text clearfix">
											<div class="float-left">
												<h5><a href="{% url 'view_fir' %}">	FIR</a></h5>
												<p>View Registred FIR</p>
											</div>
											<a href="{% url 'view_fir' %}" class="details float-right"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
										</div> <!-- /.text -->
									</div> <!-- /.hover-content -->
								</div> <!-- /.single-case-block -->
							</div> <!-- /.col- -->

							<div class="col-lg-4 col-sm-6 col-12">
								<div class="single-case-block">
									<img src="{% static 'charles/images/portfolio/staff_1.png' %}" alt="">
									<div class="hover-content">
										<div class="text clearfix">
											<div class="float-left">
												<h5><a href="{% url 'view_staff' %}">View Staffs</a></h5>
												<p>View the registred staffs data</p>
											</div>
											<a href="{% url 'view_staff' %}" class="details float-right"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
										</div> <!-- /.text -->
									</div> <!-- /.hover-content -->
								</div> <!-- /.single-case-block -->
							</div> <!-- /.col- -->

							<div class="col-lg-4 col-sm-6 col-12">
								<div class="single-case-block">
									<img style="background: rgb(33, 150, 243);" src="{% static 'charles/images/portfolio/duty_2.png' %}" alt="">
									<div class="hover-content">
										<div class="text clearfix">
											<div class="float-left">
												<h5><a href="{% url 'mark_attendance' %}">Attendance</a></h5>
												<p>Mark Attendance of the staff</p>
											</div>
											<a href="{% url 'mark_attendance' %}" class="details float-right"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
										</div> <!-- /.text -->
									</div> <!-- /.hover-content -->
								</div> <!-- /.single-case-block -->
							</div> <!-- /.col- -->
							
							<div class="col-lg-4 col-sm-6 col-12">
								<div class="single-case-block">
									<img src="{% static 'charles/images/portfolio/criminal_1.png' %}" alt="">
									<div class="hover-content">
										<div class="text clearfix">
											<div class="float-left">
												<h5><a href="../criminal_registration/">Criminal Registration</a></h5>
												<p>Register Criminals</p>
											</div>
											<a href="../criminal_registration/" class="details float-right"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
										</div> <!-- /.text -->
									</div> <!-- /.hover-content -->
								</div> <!-- /.single-case-block -->
							</div> <!-- /.col- -->
							
							
						</div> <!-- /.row -->
					</div> <!-- /.wrapper -->
					
				</div> <!-- /.container -->
			</div> <!-- /.our-case -->



{% endblock %}