<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enquiries</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .table th, .table td {
            vertical-align: middle;
        }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Enquiries</h1>
        {% if enquirys %}
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead class="thead-light">
                        <tr>
                            <th>Message</th>
                            <th>From</th>
                            <th>Contact</th>
                            <th>Date</th>
                            <th>Reply</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for enquiry in enquirys %}
                            {% if enquiry.reply == NULL %}
                            <tr>
                                <td>{{ enquiry.enquiry_data }}</td>
                                <td>{{ enquiry.user_id.fullname }}</td>
                                <td>{{ enquiry.user_id.contact }}</td>
                                <td>{{ enquiry.date }}</td>
                                <td><button><a href="{% url 'reply_to_public' enquiry.id %}">Reply To {{enquiry.user_id.fullname}}</a></button></td>
                            </tr>
                            {% endif %}

                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>No enquiries found.</p>
        {% endif %}
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>