{% extends 'public/header_footer.html' %}
{% load static %}

{% block content %}

    <div class="contact-us-section section-spacing">
        <div class="container">
            <div class="theme-title-one">
                <br><br><br>

                <h2>GET IN TOUCH</h2>
        
            </div> <!-- /.theme-title-one -->
            <div class="clearfix main-content no-gutters row">
                <div class="col-lg-5 col-12"><div class="img-box"></div></div>
                <div class="col-lg-7 col-12">
                    
                        
                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="contact-card p-4 bg-light rounded shadow-sm">
                                            <h4 class="mb-3"><i class="fa fa-map-marker text-primary"></i> Headquarters</h4>
                                            <p>Kerala Police Headquarters<br>
                                            Vellayambalam, Thiruvananthapuram<br>
                                            Kerala - 695010</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="contact-card p-4 bg-light rounded shadow-sm">
                                            <h4 class="mb-3"><i class="fa fa-phone text-primary"></i> Emergency Contacts</h4>
                                            <p>Police Control Room: 112<br>
                                            Women Helpline: 1091<br>
                                            Child Helpline: 1098</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="contact-card p-4 bg-light rounded shadow-sm">
                                            <h4 class="mb-3"><i class="fa fa-envelope text-primary"></i> Email</h4>
                                            <p>General Enquiries:<br>
                                            statepolicechief.pol@kerala.gov.in<br>
                                            Cybercrime:<br>
                                            cyberps.pol@kerala.gov.in</p>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="contact-card p-4 bg-light rounded shadow-sm">
                                            <h4 class="mb-3"><i class="fa fa-clock-o text-primary"></i> Working Hours</h4>
                                            <p>Control Room: 24/7<br>
                                            Administrative Office:<br>
                                            Monday - Saturday<br>
                                            10:00 AM - 5:00 PM</p>
                                        </div>
                                    </div>
                                </div>
                    
                </div> <!-- /.col- -->
            </div> <!-- /.main-content -->
        </div> <!-- /.container -->

        <!--Contact Form Validation Markup -->
        <!-- Contact alert -->
        <!-- <div class="alert-wrapper" id="alert-success">
            <div id="success">
                <button class="closeAlert"><i class="fa fa-times" aria-hidden="true"></i></button>
                <div class="wrapper">
                       <p>Your message was sent successfully.</p>
                 </div>
            </div>
        </div> 
        <div class="alert-wrapper" id="alert-error">
            <div id="error">
                   <button class="closeAlert"><i class="fa fa-times" aria-hidden="true"></i></button>
                   <div class="wrapper">
                       <p>Sorry!Something Went Wrong.</p>
                </div>
            </div>
        </div> 
    </div>-->



    <!-- 
    =============================================
        Compnay Branch Address
    ============================================== 
    -->
    <!-- <div class="branch-address">
        <div class="container">
            <div class="row">
                <div class="address-slider">
                    <div class="item">
                        <div class="wrapper">
                            <h6>United States Office</h6>
                            <p><i class="fa fa-address-book-o" aria-hidden="true"></i> 23A, Queenstown St, Log Vegas, United States.</p>
                        </div> 
                    </div>
                    <div class="item">
                        <div class="wrapper">
                            <h6>Australia Office</h6>
                            <p><i class="fa fa-address-book-o" aria-hidden="true"></i> consult floor, melbourne, Australia.</p>
                        </div> 
                    </div>
                    <div class="item">
                        <div class="wrapper">
                            <h6>Germany Office</h6>
                            <p>
                    </div>
                    <div class="item">
                        <div class="wrapper">
                            <h6>London Office</h6>
                            <p><i class="fa fa-address-book-o" aria-hidden="true"></i> cityhigh, clock bell floor, United Kingdom.</p>
                        </div> 
                    </div>
                </div>
            </div>
        </div> 
    </div>  -->

{% endblock %}